# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Build
target/
*.class
*.jar
*.war

# Maven
.mvn/
mvnw
mvnw.cmd

# Project files
custacct-spring.zip
aws-m2-project.zip.zip
*.zip

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
